aiohappyeyeballs==2.6.1 ; python_version >= "3.9" and python_version < "3.13"
aiohttp==3.11.16 ; python_version >= "3.9" and python_version < "3.13"
aiosignal==1.3.2 ; python_version >= "3.9" and python_version < "3.13"
annotated-types==0.7.0 ; python_version >= "3.9" and python_version < "3.13"
async-timeout==5.0.1 ; python_version >= "3.9" and python_version < "3.11"
attrs==25.3.0 ; python_version >= "3.9" and python_version < "3.13"
dnspython==2.7.0 ; python_version >= "3.9" and python_version < "3.13"
email-validator==2.2.0 ; python_version >= "3.9" and python_version < "3.13"
frozenlist==1.5.0 ; python_version >= "3.9" and python_version < "3.13"
idna==3.10 ; python_version >= "3.9" and python_version < "3.13"
multidict==6.4.3 ; python_version >= "3.9" and python_version < "3.13"
propcache==0.3.1 ; python_version >= "3.9" and python_version < "3.13"
pydantic-core==2.33.1 ; python_version >= "3.9" and python_version < "3.13"
pydantic[email]==2.11.3 ; python_version >= "3.9" and python_version < "3.13"
tabtabtab-lib @ git+https://github.com/tabtabtabai/tabtabtab-lib.git@HEAD ; python_version >= "3.9" and python_version < "3.13"
typing-extensions==4.13.2 ; python_version >= "3.9" and python_version < "3.13"
typing-inspection==0.4.0 ; python_version >= "3.9" and python_version < "3.13"
yarl==1.19.0 ; python_version >= "3.9" and python_version < "3.13"
